html, body, ul, ol, li, h1, 
h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  margin: 90px 0 0 70px;
  font: Helvetica, sans-serif;
  color: black;
  /*text-shadow: 4px 4px 0px rgba(0,0,0,0.2); */
  font-size: 40px;
}

.btn a{
  font-family: "Lucida Grande";
  margin: 30px 0 0 265px;
  background-color: #f2f2f2;
  display: inline-block;
  color:black; 
  font-weight: bold;
  font-size: 18px;
  padding: 12px 24px;
  border-radius: 4px;
  box-shadow: 0 7px #cccccc;
  opacity: 0.9;
}

 .btn a:hover { 
 	opacity: 1; 
}

 .btn a:active {
 	position: relative;
 	top: 7px;
 	box-shadow: none;
 	opacity: 1;
}

 @media(max-width: 680px) {
  header {
  	font-size: 44px;
  	margin: 90px 0 0 10px;
  	text-align: left;
  }

  .btn a{
    margin-left: 150px;
  }
}
